<div id="empty" *ngIf="purchaseItems?.length === 0">
  O Carrinho esta vazio.
  </div>
<div id="base" *ngIf="purchaseItems?.length !== 0">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Total do item</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let purchase of purchaseItems">
            <td>{{purchase.product.name | titlecase}}</td>
            <td>{{purchase.productQuantity}}</td>
            <td>{{purchase.totalPrice | currency:'BRL'}}</td>
            <td><button (click)="deleteProduct(this.purchase.id)">Excluir</button></td>
        </tr>
        <tbody>
    </table>
    <app-sale></app-sale>
</div>

