<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover">Adicione Produto</h2>

    <!-- Login Form -->
    <form  (ngSubmit)="onSubmit()" #form="ngForm">
      <input type="text" id="login" class="fadeIn" name="login" placeholder="login"  [(ngModel)]="political.name" required>
      <input type="text" id="cpf" class="fadeIn" name="cpf" placeholder="Cpf"  [(ngModel)]="political.cpf" required>

      <select name="cars" id="cars" [(ngModel)]="political.electivePositionType">
        <option value="CITY_COUNCILOR">Vereador</option>
        <option value="GOVERNOR">Governador</option>
        <option value="CONGRESSMAN">Deputado Federal</option>
        <option value="STATE_DEPUTY">Deputado Estadual</option>
        <option value="SENATOR">Senador</option>
        <option value="MINISTER">Ministro</option>
        <option value="MAYOR">Prefeito</option>
        <option value="PRESIDENTE">Presidente</option>
      </select>

      <div>
        <input type="checkbox" id="scales" name="isLeader" [checked]="selecionado === true">
        <label for="scales">Lider</label>
      </div>


      <!-- <input type="text" id="password" class="fadeIn" name="login" placeholder="partido"  required> -->
      <input type="submit" class="fadeIn" value="Cadrastrar" [disabled]="form.form.invalid">
    </form>

  </div>
</div>

