<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover">Adicione Produto</h2>

    <!-- Login Form -->
    <form  (ngSubmit)="onSubmit()" #form="ngForm">
      <input type="text" id="name" class="fadeIn" name="name" placeholder="nome"  [(ngModel)]="political.name" required>
      <input type="text" id="descrição" class="fadeIn" name="descrição" placeholder="descrição" [(ngModel)]="political.description" required>
      <input type="text" id="preço unitário" class="fadeIn" name="preço unitário" placeholder="preço unitário" [(ngModel)]="political.unitPrice" required>
      <input type="text" id="descrição" class="fadeIn" name="descrição" placeholder="preço unitário" [(ngModel)]="political.quantityStock" required>

      <select name="cars" id="cars" [(ngModel)]="political.unitMeasurement">
        <option value="KG">Quilo</option>
        <option value="L">Litro</option>
        <option value="M2">Metro quadrado</option>
        <option value="M3">Metro cubico</option>
        <option value="OTHER">Outro</option>
      </select>

      <!-- <input type="text" id="password" class="fadeIn" name="login" placeholder="partido"  required> -->
      <input type="submit" class="fadeIn" value="Cadrastrar" [disabled]="form.form.invalid">
    </form>

  </div>
</div>

