<div class="wrapper">
  <div id="formContent">
    <h2 class="active" [routerLink]="['/login']"> Sign In </h2>
    <h2 class="inactive underlineHover" [routerLink]="['/create-account']">Sign Up </h2>
    <div class="fadeIn">
      <img src="../../../assets/img/icon.png" id="icon" alt="User Icon" />
    </div>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <input type="text" id="username" class="fadeIn" name="username" placeholder="login" [(ngModel)]="login.username" required>
      <input type="text" id="password" class="fadeIn" name="password" placeholder="password" [(ngModel)]="login.password" required>
      <input type="submit" class="fadeIn" value="Log In" [disabled]="form.form.invalid">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueceu a senha?</a>
    </div>
  </div>
</div>

