

 @import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.geral{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.add{
  background-color: white;
}
.master {
  height: 98vh;
  background-color: white;
}

b{
  background-color: rgba(0,0,0,0.0);
}

.container {
  width: 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: white;
  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  background-color: #ececec;
  box-shadow: 3px 5px 13px 4px rgba(0,0,0,0.2);
  height: 42rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.15s ease 0s;
  color: rgb(0, 0, 0);
}

.card:hover {
  box-shadow: 3px 5px 13px 4px rgba(0,0,0,0.29);
  transition: all 0.15s ease 0s;
}

.card__name {
  margin-top: 4px;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0);
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #e7e7e7;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgb(10, 10, 10, 0.3);
}

.btn {
  position: absolute;
  margin-top: 600px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  /* margin: 0.35em; */
  width: 13rem;
  color: #ffffff;
  background-color: rgba(0, 136, 169, 0.8);
  padding: 9px 25px;
  border-radius: 5px;
  height: 55px;
  justify-items: baseline;
}

.btn2 {
  /* position: absolute;
  margin-top: 600px; */
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 0.35em;
  width: 13rem;
  color: #ffffff;
  background-color: rgba(0, 136, 169, 0.8);
  padding: 9px 25px;
  border-radius: 5px;
  height: 55px;
  justify-items: baseline;
}



.btn:hover {
  background-color: rgba(0, 174, 218, 0.8);
}



